*{
    box-sizing: border-box;
}

.color-picker{
    width: 62px;
    height: 42px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.picking-area{
    width: 100%;
    max-width: 550px;
}

form{
    display: flex;
    padding: 0em 1em;
    justify-content: space-between;
}